*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100vw;
  background: aliceblue;
  text-align: center;
  padding: 2rem;
}

button{
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
}

.increaseBtn{
  background: blue;
  color: white;
  font-weight: bold;
  
}

.decreaseBtn{
  background: green;
  color: white;
  font-weight: bold;
  
}

.resetBtn{
  background: red;
  color: white;
  font-weight: bold;
  
}
.countEl{
  font-size: 8rem;
}